<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .load {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 3000ms linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>



</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialis">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <a href="/" class="text-3xl font-bold">AI Blog Generator</a>
        </div>
        <div>
            <a href="#" class="text-white hover:underline">Welcome {{user.username}} | </a>
            <a href="/blog-list" class="text-white hover:underline">Saved Blog Posts |</a>
            <a href="logout" class="text-white hover:underline">Logout</a>
        </div>
        </nav>


        <br>
        <br>

    <!-- Main  -->

    <div class="flex-grow container mx-auto mt-10 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow transition-transform transform hover:scale-105 flex flex-col">
            <!-- Introduction Section -->
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">Welcome to AI Blog Generator</h2>
                <p class="text-gray-700">Generate high-quality blog articles from Youtube videos
                    using artificial intelligence. Simply enter the 
                the link to the Youtube video below and let the AI
            create the content for you! </p>
            </div>

            <br>
            <!-- Youtube Section -->
             <div>
                <h2 class="text-xl mb-4 font-semibold">Enter Youtube Link</h2>
                <div class="flex space-x-4">
                    <input type="text" name="" id="youtubelink" type="url" placeholder="Paste your Youtube Link..." class="flex-grow p-2  border border-blue-400 rounded-l-md">
                    <button id="generateBlogButton" class="bg-blue-600 text-white px-4 py-4 rounded-r-md hover:bg-blue-700 transition-colors">Generate</button>
                
                </div>
             </div>

            
            <!-- section for loading circle -->
            
            <div style="display:none" id="loadingCircle" class="load mt-10">

            </div>
           
           
             <!-- Generate Blog Display section -->
              <section class="mt-10 flex-grow">
                <h2 class="text-xl font-semibold mb-4">Generated Blog Article</h2>
                <div id="blogContent" class="mt-2 text-gray-700 space-y-4">
           
                    Will generate article of video with backend code

                </div>
              </section>
        </div>

    </div>


    <footer class="text-center p-4 text-black mt-4">
        Powered by <a href="https://www.youtube.com/watch?v=ftKiHCDVwfA&t=57s">Code with Timm</a>
    </footer>
    

    <script>
        document.getElementById('generateBlogButton').addEventListener('click',async()=> 
    {
        const youtubelink = document.getElementById('youtubelink').value;
        const loadingindicator = document.getElementById('loadingCircle');
        const blogContent = document.getElementById('blogContent');

        if (youtubelink)
        {
         loadingindicator.style.display = 'block';
         loadingindicator.classList.remove('hidden');
         blogContent.innerHTML = '';    // Clear previous content

         const endpointUrl = 'generate-blog';

        try {
            const response = await fetch(endpointUrl, {
                method: 'POST',
                headers: {'Content-type': 'application/json',

                },
                body: JSON.stringify({link: youtubelink})
            });
            
            const data = await response.json();

            blogContent.innerHTML = data.content;
            loadingindicator.classList.add('hidden');

            
        } catch (error) {
            console.error("Error occured",error);
            alert("Something went wrong. Please try again later");
            loadingindicator.classList.add('hidden');

        }
        loadingindicator.style.display = 'none'



        }
        else{alert('Please enter a youtube link')}
            


    });

    
    </script>


</body>
</html>



